VITE_API_URL=http://localhost:8000
VITE_LEAD_URL=https://your-backend-url.com/leads
VITE_NOMINATIM_URL=https://nominatim.openstreetmap.org
VITE_CE_DETAIL_URL=https://comunidades-energeticas-api-20084454554.catalystserverless.eu
